---
# Switch toggle button
# vars:
#    uid:
#    row:
#    column:
#    row_span:
#    column_span:
#    text:
#    icon:
#    entity_id:

lvgl:
  pages:
    - id: !extend main_page
      widgets:
        - container:
            id: ${uid}
            widgets:
              grid_cell_row_pos: ${row}
              grid_cell_column_pos: ${column}
              grid_cell_row_span: ${row_span | default(1)}
              grid_cell_column_span: ${column_span | default(1)}
              grid_cell_x_align: stretch
              grid_cell_y_align: stretch
              - button:
                  id: button_${uid}

                  widgets:
                    - label:
                        id: icon_${uid}
                        text_font: $icon_font
                        align: top_left
                        text: ${icon}

                    - label:
                        id: label_${uid}
                        align: bottom_left
                        text: ${text}

                    - slider:
                        id: slider_${uid}
                        align: top_right
                        x: -5
                        y: 10
                        width: 30%
                        height: 75%
                        min_value: 0
                        max_value: 255
                        radius: 10

                        knob:
                          pad_top: -5
                          pad_bottom: -5
                          bg_color: $label_on_color

                        indicator:
                          radius: 0
                          bg_color: $label_off_color

                        on_release:
                          - homeassistant.action:
                              action: light.turn_on
                              data:
                                entity_id: ${entity_id}
                                brightness: !lambda return int(x);

                  on_short_click:
                    then:
                      - homeassistant.action:
                          action: homeassistant.toggle
                          data:
                            entity_id: ${entity_id}

                  on_long_press:
                    then:
                      - lvgl.page.show: ${uid}_light_page


# Update visual state from HA
binary_sensor:
  - id: widget_sensor_${uid}
    platform: homeassistant
    entity_id: ${entity_id}
    trigger_on_initial_state: true

    on_state:
      - if:
          condition:
            binary_sensor.is_on: widget_sensor_${uid}
          then:
            - lvgl.widget.update:
                id: button_${uid}
                bg_color: $button_on_color
            - lvgl.widget.update:
                id: icon_${uid}
                text_color: $icon_on_color
            - lvgl.widget.update:
                id: label_${uid}
                text_color: $label_on_color
            - lvgl.widget.update:
                id: slider_${uid}
                knob:
                  bg_color: $label_on_color
          else:
            - lvgl.widget.update:
                id: button_${uid}
                bg_color: $button_off_color
            - lvgl.widget.update:
                id: icon_${uid}
                text_color: $icon_off_color
            - lvgl.widget.update:
                id: label_${uid}
                text_color: $label_off_color
            - lvgl.widget.update:
                id: slider_${uid}
                knob:
                  bg_color: $label_off_color


sensor:
  - id: brightness_${uid}
    platform: homeassistant
    entity_id: ${entity_id}
    attribute: brightness

    on_value:
      - lvgl.slider.update:
          id: slider_${uid}
          value: !lambda return x;
