---
# Change page button
#    uid:
#    row:
#    column:
#    row_span:
#    column_span:
#    text: 
#    icon:
#    click_page:

# This section adds a button to LVGL page main_page
lvgl:
  pages:
    - id: !extend main_page
      widgets:
        - container:
            id: ${uid}
            grid_cell_row_pos: ${row}
            grid_cell_column_pos: ${column}
            grid_cell_row_span: ${row_span | default(1)}
            grid_cell_column_span: ${column_span | default(1)}
            grid_cell_x_align: stretch
            grid_cell_y_align: stretch
            # outline_width: 1
            # outline_color: red
            widgets:
            - button:
                id: button_${uid}
                widgets:
                  - label:
                      text_font: $icon_font
                      align: top_left
                      id: icon_${uid}
                      text_color: $label_off_color
                      text: ${icon}
                  - label:
                      align: bottom_left
                      id: label_${uid}
                      text_color: $label_off_color
                      text: ${text}
                on_short_click:
                    then:
                      lvgl.page.show: ${click_page | default(main_page)}